* {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
}

body{
    margin: 0px;
    padding: 0%;
}
.gridContainer {
    display: grid;
    grid-template-rows: max-content 5;
    background-color: white;
    padding: 0px;
    grid-template-columns: auto auto auto auto;
}
.gridMenu {
    display: grid;
    grid-template-rows: max-content 5;
    background-color: white;
    padding: 0px;
}
.gridItem {
    border: 1px solid darkslategrey; 
    padding: 10px;
}

h1 {
    font-size: 75px;
    font-weight: 900;
    color: rgb(31, 62, 114);
}
h2 {
    font-size: 50px;
    font-weight: 700;
    color: #1f3e72;
}
h3 {
    font-size: 25px;
    font-weight: 500;
    color: #1f3e72;
}
p {
        font-size: 20px;
        color: rgba(31, 62, 114, 0.6)
   
}
h5 {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.6)
}
.negritas {
    font-weight: 700;
    color: #1f3e72;
}
h3.lightBlue {
    color: #2949c7;
}






i {
    color: #2c4cca;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
li {
    float: left;
    color: white;
}
a {
    display: block;
    padding: 8px;

}
.derecha {
    width: 50%;
    height: 50%;
    align-content: right;
    position: relative;
    transform: translate(100%,0%);
    padding-left: 75px;
    padding-right: 50px;
}
.colorFondo {
    background-color: #2C6EDD;
}
.izquierda {
    width: 50%;
    height: 50%;
    align-content: left;
    position: relative;
    transform: translate(0%,100%);
    padding-left: 50px;
    padding-right: 75px;  
}

.center {
    width: 50%;
    height: 50%;
    opacity: 0.3;
    align-content: justify;
    position: relative;
    transform: translate(50%,50%);
    justify-content: space-between;
    align-items: stretch;
}
.alinear {
    display: flex;
    column-gap: 50px;
}
input {
    float: inline;
    height: 25px;
    align-content: right;
    border-radius: 5%;
    border-style: none;
    box-shadow: grey
}
.buttom1 {
    background-color: #5329c7;
    color: white;
}
.buttom2 {
    background-color: rgba(83, 41, 199,0.3);
    color: #5329c7;
    font-weight: 700;

}
